Setting eduroam wifi
nmcli con add \
type wifi \
con-name eduroam \ 
ifname wlp0s20f3 \ 
ssid eduroam \
wifi-sec.key-mgmt wpa-eap \
802-1x.identity 12542251@usp.br \
802-1x.password Paulinho13579691! \
802-1x.system-ca-certs yes \
802-1x.domain-suffix-match semfio.usp.br \
802-1x.eap ttls \
802-1x.phase2-auth mschapv2

after that run:

nmcli connect up eduroam

as superuser
